* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font: 15px;

}

.inputContainer {
    background-color: bisque;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.inputContainer input{
border: 0;
padding: 10px;
width: 80%;
margin: 2%;
}
.inputContainer button{
width: 11%;
background-color: burlywood;
border-radius: 5px;
padding: 9px;
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#messages li {
padding: 5px 10px;
}
#messages li:nth-child(odd){
background: rgb(154, 168, 160);
}